$font-family: 'PP Neue Montreal', Pretendard;
$box-pd: 40px 40px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: $font-family;
    font-size: 12px;
    box-sizing: border-box;
    height: 100vh;
}

.wrap {
    width: 100vw;
    height: 100%;
    display: flex;
}


ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.ct {
    
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    width: 240px;
    padding: 40px;
    height: 100%;
    overflow-y: scroll;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;*/
    div + div { 
        margin-top: 25px;
        padding-top: 25px;
        /*border-top: 1px solid rgb(238, 242, 244);*/
    }
}
.ct::-webkit-scrollbar {
    width: 0px;  /* 스크롤바의 너비 */
}

.ct::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #8e8e8e; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.ct::-webkit-scrollbar-track {
    background: rgba(6, 44, 98, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.ct a:not(.link_tit) {
    display: block;
    padding: 10px;
    padding-left: 16px;
    font-size: 11px;
    color: rgba(80,80,80);
}

.c_cnt, .link_tit {
    display: none;
}

.sub_category_list {
    margin:5px 0px 5px 16px;
    border-left: 0.5px dashed rgba(80,80,80);
    a {
        font-size: 10px!important;
        padding-left: 18px!important;
    }
}

.side_title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 11px;
    letter-spacing: -.8px;
    font-weight: 500;
    i {
        font-size: 7px;
        margin-right: 10px;
        /* margin-bottom: 0px; */
        vertical-align: baseline;
        color: #333;
        display: flex;
        align-items: center;
    }
}

.search {
    input {
        width: 100%;
        outline: none;
        border: none 0;
        padding: 10px;
        padding-left: 16px;
        font-family: $font-family;
        font-size: 10px;
        color: rgba(150,150,150);
    }
}

.a {
    padding: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
}

.a1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    box-shadow: #98dffd inset 0px 0px 30px 0px; 
    .title {
        font-size: 28px;
        letter-spacing: -2px;
        font-weight: 600;
        color:#3c3c3c;
    }   
    img {
        width: 38px;
        margin-bottom: 30px;
    }
}

.a2 {
    background-image: url(images/ric.jpg);
    background-size: cover;
    background-position: 0% 0;
    box-shadow: #ffffff inset 0px 0px 30px 0px;
}
.content {
    width: calc( 100% - 240px );
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.middle {
    padding: 60px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    flex: 1;
}

header {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-weight: 500;
    }
    .page {
        display: flex;
        display: none;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            font-weight: 200;
            font-size: 10px;
            color: rgb(40, 40, 40);
            & + a {
                margin-left: 2px;
            }
        }
        i {
            font-size: 12px;
        }
    }
}

.profile {
    display: flex;
    align-items: center;
    img {
        width: 70px;
        border-radius: 20px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
   
    .sub {
        margin-left: 10px;
        .name {
            font-weight: 500;
            font-size: 11px;
        }
        .desc {
            margin-top: 10px;
            font-size: 10px;
            color: rgb(80, 80, 80);
            letter-spacing: -.6px;
        }
    }
}

.category_background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    margin-top: 0!important;
}

.backdrop {
    backdrop-filter: blur(110px);
    -webkit-backdrop-filter: blur(110px);
    background: transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.category_background .elemColor {
    border-radius: 100%;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.category_wrapper {
    aspect-ratio: 3/5;
    width: 100%;
}

.category_element {
    -webkit-backdrop-filter: blur(0);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
    transition: padding .2s ease;
    width: 100%;
}

footer {
    font-size: 9px;
    padding: 40px 60px 50px;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
    }
}

.site_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    i {
        color: #333;
        font-size: 7px;
        transition: color .3s ease-in-out;
    }
   
}

.menu {
    flex: 1;
}

/*
.tt_category {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.cate_open {
    cursor: pointer;
}
.cate_open[aria-expanded=true] + .tt_category {
    opacity: 1;
    max-height: 500px;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
*/